#projects-page {
	box-sizing: border-box;
	width: 100%;
	padding: 0 10vw;
	padding-top: 125px;
}
#projects-page-child {
	width: 100%;
}
#projects-label {
	font-size: 2.25em;
	width: fit-content;
	margin-bottom: 0;
}
#projects-description {
	display: block;
	width: fit-content;
	margin-bottom: 0;
}
.project-type-div {
	box-sizing: border-box;
	width: 100%;
}
@media (hover: hover) {
	#projects-page div.project-type-div:hover {
		transform: scale(1.02);
	}
}
.project-type-label {
	font-size: 1.8em;
	margin: 2em 0 0 0;
}
.project-type-description {
	display: block;
	width: fit-content;
	max-width: min(100%, 500px);
	margin-bottom: 0;

	font-size: 0.95em;
}
.projects-div {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}