.sections-page {
	box-sizing: border-box;
	width: 100%;
	padding: 0 10vw;
	padding-top: 125px;
}
.sections-page.fit-content {
	width: fit-content;
	max-width: 100%;
}
.sections-page:last-child {
	padding-bottom: 150px;
}
#sections-page-child {
	width: 100%;
}
.sections-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}
#sections-label {
	font-size: 2.25em;
	width: fit-content;
	margin-bottom: 0;
}
.sections-subtitle {
	width: fit-content;
	margin-left: 0.75em;
}
.sections-description {
	display: block;
	width: fit-content;
	margin-bottom: 0;
	color: var(--color-description);
}
.sections-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: fit-content;
}
.sections-links a {
	margin: 0.5em;
}
@media (hover: hover) {
	.sections-subtitle:hover {
		transform: scale(1.1) !important;
	}
}
.section-type-div {
	box-sizing: border-box;
	width: 100%;
}
@media (hover: hover) {
	.sections-page div.section-type-div:hover {
		transform: scale(1.02) !important;
	}
}
.section-type-label {
	font-size: 1.8em;
	margin: 2em 0 0 0;
}
.section-type-description {
	display: block;
	width: fit-content;
	max-width: min(100%, 500px);
	margin-bottom: 0;

	font-size: 0.95em;

	color: var(--color-description);
}
.section-type-description * {
	font-size: 1em;
	line-height: 1em;
}
.sections-div {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
