.parent-div {
	background-color: var(--background-color);

	overflow: hidden;
}
.scroll-div {
	display: flex;
	align-items: safe center;
	justify-content: safe center;

	border-radius: 1em;
	border: dashed 1px var(--color-1);

	box-sizing: border-box;
	padding: 0.5em;
	width: 100%;
	height: 100%;

	overflow: scroll;
}

.image-alt {
	text-align: center;
	margin: 0;
}