.parent-div {
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	padding: 0.5em;

	border-radius: 1em;
	border: dashed 1px var(--color-1);
	
	background-color: var(--background-color);
}

.image-alt {
	text-align: center;
}