.parent-div {
  border-radius: 1em;

  overflow: hidden;
}
.scroll-div {
  display: flex;
  align-items: safe center;
  justify-content: safe center;

  border-radius: inherit;
  border: dashed 1px var(--color-1);
  background-color: var(--background-color);

  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}

.image-alt {
  text-align: center;
  margin: 0;
}
