.image-parent {
	margin: 1em;
	border-radius: 1em;

	cursor: pointer;
}
.image {
	border-radius: 1em;
}
@media (hover: hover) {
	.image-parent:hover {
		transform: scale(1.05) !important;
	}
	.image-parent:active {
		transform: scale(1.025) !important;
	}
}