#selected-image-background {
	position: fixed;
	left: 0; top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	backdrop-filter: blur(0.5em);
}
#selected-image-background.hidden {
	visibility: hidden;
	backdrop-filter: blur(0);
}

#selected-image-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	filter: drop-shadow(-0.2em -0.2em 0.2em var(--background-color)) drop-shadow(-0.2em 0.2em 0.2em var(--background-color)) 
	drop-shadow(0.2em -0.2em 0.2em var(--background-color)) drop-shadow(0.2em 0.2em 0.2em var(--background-color));

	transform: translateY(0);
}
#selected-image-background.hidden #selected-image-content {
	transform: translateY(100vh);
}
#selected-image-parent {
	border-radius: 1em;

	cursor: pointer;
}
#selected-image-parent button {
	display: flex;

	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 1em;

	cursor: pointer;

	border-radius: 1em;
}
#selected-image {
	border-radius: 1em;

	max-width: 80vw;
	max-height: 80vh;
	width: auto;
	height: auto;
}
#selected-image-description {
	font-size: 2.5em;
	text-align: center;

	margin-bottom: 0;
	padding: 0 0.5em;
}
@media (hover: hover) {
	#selected-image-parent:hover {
		transform: scale(1.05);
	}
	#selected-image-parent:active, #selected-image-parent:has(button:active) {
		transform: scale(1.025);
	}
}
#selected-image-parent:focus-within {
	transform: scale(1.05);
}