#selected-image-background {
	position: fixed;
	left: 0; top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	backdrop-filter: blur(0.5em);
}
#selected-image-background.hidden {
	visibility: hidden;
	backdrop-filter: blur(0);
}

#selected-image-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	flex-grow: 1;
	box-sizing: border-box;
	width: 100%;
	padding: 3%;

	transform: translateY(0);

	overflow-y: auto;
	overflow-x: hidden;
}
#selected-image-background.hidden #selected-image-content {
	transform: translateY(100vh);
}
#selected-image-loading-position {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}
#selected-image-loading-position > * {
	grid-row-start: 1;
	grid-column-start: 1;
}
#selected-image-parent {
	cursor: pointer;

	margin: 0 0 4vh;
}
#selected-image-parent button {
	display: flex;

	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 1em;

	cursor: pointer;

	transition: none;
}
.placeholder {
	transition: none;
	border-radius: 0.7em;
	font-size: 1.5em;
}
.placeholder.hidden {
	transition: inherit;
	visibility: hidden;
	opacity: 0;
}
#selected-image {
	border-radius: 0.7em;
	font-size: 1.5em;

	transition-duration: var(--transition-duration), 0s;
	transition-property: all, z-index;
	z-index: 1;
}
#selected-image.loading {
	transition: none;
	scale: 0.001;
	z-index: -1;
}
#selected-image-description {
	max-width: 90vw;

	font-size: 2.5em;
	text-align: center;

	margin: 0; 
	padding: 0 0.5em;

	filter: drop-shadow(-0.2em -0.2em 0.2em var(--background-color)) drop-shadow(-0.2em 0.2em 0.2em var(--background-color)) 
	drop-shadow(0.2em -0.2em 0.2em var(--background-color)) drop-shadow(0.2em 0.2em 0.2em var(--background-color));
}
@media (hover: hover) {
	#selected-image-parent:hover {
		transform: scale(1.05);
	}
	#selected-image-parent:active, #selected-image-parent:has(button:active) {
		transform: scale(1.025);
	}
}
#selected-image-parent:focus-within {
	transform: scale(1.05);
}