#links-parent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	pointer-events: none;
}
#links-parent * {
	pointer-events: initial;
}
#links {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	pointer-events: none;
}
#links * {
	pointer-events: initial;
}
#links a {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border: none;
	background-color: transparent;
	font-size: 1em;
	text-decoration: none;
	cursor: pointer;

	transition-duration: 0.3s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
	transition-property: transform, height, padding, scale, visibility, text-shadow, background-color, color;
}
@media (hover: hover) {
	#links a:hover {
		transform: scale(1.1) !important;
	}
}
@media (hover: none) {
	#links a:active::before {
		content: "";

		position: absolute; 
		top: 0; left: 0;
		width: 100%; height: 100%;
		
		z-index: 1; opacity: 0.5;
		background-color: var(--color-2);
		border-radius: 100vh;
	}
}
#links a:focus-visible {
	transform: scale(1.1) !important;
}
#links a:active {
	transform: scale(1.05) !important;
}

#hidden-links a {
	text-shadow: -0.1em -0.1em 0.2em var(--background-color), -0.1em 0.1em 0.2em var(--background-color), 
		0.1em -0.1em 0.2em var(--background-color), 0.1em 0.1em 0.2em var(--background-color),
		-0.1em -0.1em 0.2em var(--background-color), -0.1em 0.1em 0.2em var(--background-color), 
		0.1em -0.1em 0.2em var(--background-color), 0.1em 0.1em 0.2em var(--background-color);
}
#hidden-links a::after {
	content: "";
	width: 0px;
	height: .2em;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100vh;

	background: var(--color-2);

	position: absolute;
	bottom: 0.25em;

	transition-duration: 0.3s, 0.2s;
	transition-property: width, background;
}
@media (hover: hover) {
	#links a:hover:not(#logo)::after {
		width: 35%;
	}
}
#links address:focus-visible:not(#logo)::after {
	width: 35%;
}
#links a.selected:not(#logo)::after {
	width: 75%;
}
#links a#logo {
	margin: 0.5em;
	padding: 0;
	border-radius: 100vh;
	border: 1px solid var(--color-1);
}
#links a#logo img {
	height: 50px;
	width: auto;
	padding: 0;
}

#hidden-links-parent {
	height: 2em;
}
#hidden-links {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#hidden-links a {
	scale: 1 0;
	height: 0;
	padding: 0 0.5em;
	visibility: hidden;
}
#hidden-links.showing a, #hidden-links a.selected {
	box-sizing: content-box;

	scale: 1 1;
	height: 1em;
	padding: 0.5em;
	visibility: visible;
}

#toggle-show-links-button {
	border: none;
	padding: 0;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 35px;
	height: 35px;

	cursor: pointer;

	rotate: -90deg;
	transition-duration: 0.3s, 0.2s;
	transition-property: transform, rotate;
}
#toggle-show-links-button img#arrow-img {
	width: 30px;
	height: auto;

	filter: invert(0) drop-shadow(-0.1em -0.1em 0.2em var(--background-color)) drop-shadow(-0.1em 0.1em 0.2em var(--background-color)) 
	drop-shadow(0.1em -0.1em 0.2em var(--background-color)) drop-shadow(0.1em 0.1em 0.2em var(--background-color));

	transition-duration: 0.2s;
	transition-property: filter;
}
#toggle-show-links-button img#arrow-img.inverted {
	filter: invert(1) drop-shadow(-0.1em -0.1em 0.2em var(--background-color)) drop-shadow(-0.1em 0.1em 0.2em var(--background-color)) 
	drop-shadow(0.1em -0.1em 0.2em var(--background-color)) drop-shadow(0.1em 0.1em 0.2em var(--background-color));
}
#toggle-show-links-button.showing {
	rotate: 0deg;
}
#toggle-show-links-button:focus-visible {
	transform: scale(1.1);
}
@media (hover: hover) {
	#toggle-show-links-button:hover {
		transform: scale(1.1);
	}
}
@media (hover: none) {
	#toggle-show-links-button:active::before {
		content: "";

		position: absolute; 
		top: 0; left: 0;
		width: 100%; height: 100%;
		
		z-index: 1; opacity: 0.5;
		background-color: var(--color-2);
		border-radius: 5px;
	}
}
#toggle-show-links-button:active {
	transform: scale(1.05);
}