#theme-changer-wrapper {
	position: relative;
	margin: 1em 0 1em 1em;

	width: 35px;
	height: 35px;
}
#theme-changer {
	position: absolute;

	width: 35px;
	height: 35px;

	transition-property: height;
}
#theme-changer.hidden {
	visibility: hidden;
}
#theme-changer button {
	position: absolute;
	left: 0px; top: 0px;

	box-sizing: border-box;
	height: 35px;
	width: 35px;
	padding: 0; margin: 0;

	border: none;
	background-color: transparent;

	cursor: pointer;

	opacity: 0;
	transition-duration: 0.3s, 0.2s;
	transition-property: transform, top, opacity;
}
@media (hover: hover) {
	#theme-changer button:hover {
		transform: scale(1.1);
	}
}
@media (hover: none) {
	#theme-changer button:active::before {
		content: "";
		visibility: visible;

		position: absolute; 
		top: 0; left: 0;
		width: 100%; height: 100%;
		
		z-index: 1; opacity: 0.5;
		background-color: var(--color-2);
		border-radius: 5px;
	}
}
#theme-changer button:focus-visible {
	transform: scale(1.1);
}
#theme-changer button:active {
	transform: scale(1.05);
}
#theme-changer button.selected {
	opacity: 1;
}
#theme-changer img {
	width: 100%;
	height: auto;

	transition-property: filter;
}
#theme-changer img.inverted {
	filter: invert(1);
}

#theme-changer:hover, #theme-changer:focus-within {
	height: 105px;
}
#theme-changer:hover button, #theme-changer:focus-within button {
	opacity: 1;
}
#theme-changer:hover button.pos-2, #theme-changer:focus-within button.pos-2 {
	top: 35px;
}
#theme-changer:hover button.pos-3, #theme-changer:focus-within button.pos-3 {
	top: 70px;
}