#links {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: last baseline;

	pointer-events: none;
}
#links * {
	pointer-events: initial;
}
#links a {
	position: relative;
	padding: 1em;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border: none;
	background-color: transparent;
	font-size: 1em;
	text-decoration: none;
	cursor: pointer;

	transition-duration: 0.3s, 0.2s;
	transition-property: transform, text-shadow, color;
}
@media (hover: hover) {
	#links a:hover {
		transform: scale(1.1) !important;
	}
}
@media (hover: none) {
	#links a:active::before {
		content: "";

		position: absolute; 
		top: 0; left: 0;
		width: 100%; height: 100%;
		
		z-index: 1; opacity: 0.5;
		background-color: var(--color-2);
		border-radius: 100vh;
	}
}
#links a:focus-visible {
	transform: scale(1.1) !important;
}
#links a:active {
	transform: scale(1.05) !important;
}
#links a:not(#logo) {
	text-shadow: -0.1em -0.1em 0.2em var(--background-color), -0.1em 0.1em 0.2em var(--background-color), 
		0.1em -0.1em 0.2em var(--background-color), 0.1em 0.1em 0.2em var(--background-color),
		-0.1em -0.1em 0.2em var(--background-color), -0.1em 0.1em 0.2em var(--background-color), 
		0.1em -0.1em 0.2em var(--background-color), 0.1em 0.1em 0.2em var(--background-color);
}
#links a:not(#logo)::after {
	content: "";
	width: 0px;
	height: .2em;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100vh;

	background: var(--color-2);

	position: absolute;
	bottom: 0.75em;

	transition-duration: 0.3s, 0.2s;
	transition-property: width, color;
}
@media (hover: hover) {
	#links a:hover:not(#logo)::after {
		width: 35%;
	}
}
#links a:focus-visible:not(#logo)::after {
	width: 35%;
}
#links a.selected:not(#logo)::after {
	width: 75%;
}
#links a#logo {
	margin: 0.5em 1em;
	padding: 0.2em;
	border-radius: 100vh;
	background-color: var(--background-color-2);
}
#links a#logo.selected {
	transform: scale(1.05);
}
#links a#logo img {
	height: 50px;
	width: auto;
}
#links a#logo h1 {
	margin: 0;
	padding: 0 0.2em;
}