#header {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	background-color: var(--background-color);
}
#header a {
	margin: 1em;
}
#header img {
	transition-property: filter;
}
#header img.inverted {
	filter: invert(1);
}
#links {
	flex-grow: 1;
}
#socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
