#header {
	z-index: 1;

	box-sizing: border-box;
	width: 100%;
	padding: 1em;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
#header a {
	padding: 1em;
}
#header img {
	box-sizing: border-box;
	height: 35px;
	width: auto;
	padding: 2px;

	transition-property: filter;
}
#header img.inverted {
	filter: invert(1);
}

#links {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: last baseline;
}
#links a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	text-decoration: none;
}
#links a#logo {
	margin: 0 1em;
	padding: 0.2em;
	border-radius: 100vh;
	background-color: var(--background-color-2);
}
#links a#logo img {
	height: 50px;
	width: auto;
}
#links a#logo h1 {
	margin: 0;
	padding: 0 0.2em;
}

#right-side {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	flex-grow: 1;
}