#root {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: var(--background-color);
	color: var(--color-1);
}

.main-page {
	position: relative;
	width: 100%;
	flex-grow: 1;

	overflow-x: hidden;
	overflow-y: scroll;
}
