.transition {
	transition: 0.2s ease;
	transition-property: color, background-color, border-color, text-shadow; 
}
.transition * {
	transition: inherit;
}

.notransition {
	transition: none !important;
}
.notransition * {
	transition: inherit !important;
}

.interactive {
	transition-duration: 0.3s, 0.2s;
	transition-property: transform, color, background-color, border-color, text-shadow; 
	transform: scale(1);
}
@media (hover: hover) {
	.interactive:hover {
		transform: scale(1.1);
	}
}
.interactive:focus {
	transform: scale(1.1);
}