:root {
	font-family: Comfortaa, Arial;
}
* {
	font-family: inherit;
	line-height: 1.2em;
	color: var(--color-1);

	-webkit-tap-highlight-color: transparent;
	appearance: none;
}

html,
body,
#mount {
	width: 100vw;
	margin: 0;
	padding: 0;
	
	overflow-x: hidden;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
}
a:link {
	color: var(--color-link);
}
a:visited {
	color: var(--color-link-visited);
}

/* Set up Comfortaa font */
@font-face {
	font-family: Comfortaa;
	src: url("/Comfortaa/static/Comfortaa-Light.ttf") format("truetype");
	font-weight: 100 300;
}
@font-face {
	font-family: Comfortaa;
	src: url("/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: Comfortaa;
	src: url("/Comfortaa/static/Comfortaa-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: Comfortaa;
	src: url("/Comfortaa/static/Comfortaa-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: Comfortaa;
	src: url("/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
	font-weight: 700 900;
}
