.light {
	--color-1: #000000;
	--color-description: #1f1f1f;
	--background-color: #f5f6f4;
	--background-color-2: #c8c2ae;
	--color-2: #9893da;
	--color-3: #c42021;
	--color-4: #6ab547;

	--color-link: #0000ee;
	--color-link-visited: #551a8b;
}

.dark {
	--color-1: #f3f3f7;
	--color-description: #c7c9cd;
	--background-color: #030c11;
	--background-color-2: #473b33;
	--color-2: #368a97;
	--color-3: #9b4647;
	--color-4: #625304;

	--color-link: #4fabb8;
	--color-link-visited: #ce5cff;
}
