/* Used to hide html */
html {
	visibility: hidden;
	opacity: 0;
}

.light {
	--color-1: #000000;
	--background-color: #F5F6F4;
	--background-color-2: #C8C2AE;
	--color-2: #9893DA;
	--color-3: #C42021;
	--color-4: #6AB547;

	--color-link: #0000EE;
	--color-link-visited: #551A8B;
}

.dark {
	--color-1: #F5F6F4;
	--background-color: #030C11;
	--background-color-2: #473B33;
	--color-2: #368a97;
	--color-3: #9B4647;
	--color-4: #625304;

	--color-link: #4fabb8;
	--color-link-visited: #ce5cff;
}
